version: '3.6'

services:
  temperature_sensor1:
    image: {{ repository }}/sensor:{{ tag }}
    env_file:
    - config/broker.env
    - config/temperature_sensor1.env

  pressure_sensor1:
    image: {{ repository }}/sensor:{{ tag }}
    env_file:
    - config/broker.env
    - config/pressure_sensor1.env

  current_consumption:
    image: {{ repository }}/sensor:{{ tag }}
    env_file:
    - config/broker.env
    - config/current_consumption_sensor1.env

  humidity_sensor1:
    image: {{ repository }}/sensor:{{ tag }}
    env_file:
    - config/broker.env
    - config/humidity_sensor1.env

  temperature_sensor2:
    image: {{ repository }}/sensor:{{ tag }}
    env_file:
    - config/broker.env
    - config/temperature_sensor2.env

  pressure_sensor2:
    image: {{ repository }}/sensor:{{ tag }}
    env_file:
    - config/broker.env
    - config/pressure_sensor2.env
