version: '3.6'
services:
  telegraf:
    image: telegraf:1.18-alpine
    volumes:
    - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - influxdb
    links:
      - influxdb
    ports:
    - '8125:8125/udp'

  influxdb:
    image: influxdb:1.8-alpine
    environment:
      - INFLUXDB_DB="influx"
      - INFLUXDB_ADMIN_USER={{ INFLUXDB_USER }}
      - INFLUXDB_ADMIN_PASSWORD={{ INFLUXDB_PASSWORD }}
    ports:
      - '8086:8086'
    volumes:
      - ./:/imports
      - influxdb_data:/var/lib/influxdb

  grafana:
    image: grafana/grafana:8.0.2
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER={{ GRAFANA_USER }}
      - GF_SECURITY_ADMIN_PASSWORD={{ GRAFANA_PASSWORD }}
    links:
      - influxdb
    ports:
      - '3000:3000'
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      - ./grafana/dashboards/:/var/lib/grafana/dashboards/

volumes:
  grafana_data: {}
  influxdb_data: {}
